*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #001d3d;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0px 0 100px;
}
.container .repos{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    /* padding-top: 50px; */
    flex: 2;
}
.container .repos .repo{
   width: 200px;
   height: 220px;
   padding: 10px 15px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   border-radius: 10px;
   background-color: #003566;
   transition: all .4s ease;
   cursor: pointer;
   box-shadow: 0px 3px 29px 3px transparent;
   -webkit-box-shadow: 0px 3px 29px 3px transparent;
   -moz-box-shadow: 0px 3px 29px 3px transparent;
}
.repoName{
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid rgba(238, 238, 238, 0.573);
    line-height: 40px;
}
.container .repos .repo:hover{
  transform: scale(1.15);
  box-shadow: 0px 3px 29px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 3px 29px 3px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 3px 29px 3px rgba(0,0,0,0.6);
}
.repo.active:first-child{
    background-color: #ffd60a !important;
    color: #001d3d !important;
}
.repo.active:first-child .repoName{
    border-color: #001d3d;
}
.serch{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.serch input{
    width: 400px;
    height: 45px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #fff;
}
.serch button{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    font-size: 22px;
}
.serch button i{
        transition: all .4s ease;
}
.serch button:hover i{
    
    transform: scale(1.4);
}
.container .quotes{
    text-align: center;
}
.container .quotes p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 52px;
    font-family: cursive;
    font-style: italic;

}
.container .quotes span{
    font-family: cursive;
}
.repoName{
    width: 100%;
    text-align: center;
    font-weight: 600;
}
.user{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.userName{
    font-size: 28px;
    /* padding: 10px 0; */
    font-weight: 700;
}
.userImg{
    border-radius: 50%;
    margin: 0 auto;
    width: 300px;
    overflow: hidden;
}
.userImg img{
    width: 100%;
    border-radius: 50%;
    transition: 0.3s all linear;

}
.userImg img:hover{
transform: scale(1.2);
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 50px;
}
.logo{
    width: 100%;
    text-align: center;
    font-size: 300px;
    animation: logoStyle 1s  backwards ;
}
@keyframes logoStyle {
    from{
        transform: translateY(-900px);
    }
    to{
        transform: translateY(0);
    }
}
.userfol{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: rgb(200, 200, 200);
    font-size: 14px;
    
}
.userEmail,.userBio,.userLoc{
    color: rgb(200, 200, 200);
    font-size: 16px;
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.giph{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.giph img{
    width: 400px;
}